<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.precise.raproto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/raproto_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/about"
            android:name=".AboutActivity">
        </activity>
        <activity
            android:label="@string/disclamer"
            android:name=".Disclamer">
        </activity>
        <activity
            android:label="@string/help"
            android:name=".Help">
        </activity>
        <activity
            android:label="@string/info"
            android:name=".Info">
        </activity>
        <activity
            android:label="@string/settings"
            android:name=".SettingsActivity">
        </activity>
    </application>

</manifest>