<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.precise.raproto">

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/raproto_icon"
        android:label="@string/raproto"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MenuMain"
            android:label="@string/raproto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SensorService"
            android:enabled="true"
            tools:ignore="Instantiatable" />
        <service
            android:name=".MQTTService"
            android:enabled="true"
            tools:ignore="Instantiatable" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />


        <activity
            android:label="@string/about"
            android:name=".MenuAbout">
        </activity>
        <activity
            android:label="@string/disclamer"
            android:name=".ScreenDisclamer">
        </activity>
        <activity
            android:label="@string/help"
            android:name=".ScreenHelp">
        </activity>
        <activity
            android:label="@string/info"
            android:name=".ScreenInfo">
        </activity>
        <activity
            android:label="@string/settings"
            android:name=".MenuSettings">
        </activity>
        <activity
            android:label="@string/configuration"
            android:name=".MenuConfiguration">
        </activity>
        <activity
            android:label="@string/configuration"
            android:name=".ScreenConfiguration"
            >
        </activity>
        <activity
            android:label="@string/MQTT"
            android:name=".MenuMQTT">
        </activity>
    </application>

</manifest>